<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>updateUser</title>
</head>
<body>
    <h3>Update User</h3>
    <form th:action="@{/user/editUser}" method="post">
        <input type="hidden" name="id" th:field="${targetUser.id}">
        username: <input type="text" name="username" th:field="${targetUser.username}"> <br>
        password: <input type="password" name="password"  th:field="${targetUser.password}">
        <input type="submit" value="确认修改">
    </form>
</body>
</html>