<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_autowire:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_autowire_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_autowire/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_autowire" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring WebService" />
          <element id="library" level="application" name="spring-web-5.2.7.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>