<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.LogMapper">
    <!--所有查询都放在二级缓存中，即放在sqlsessionfactory的缓存中-->
    <cache readOnly="true"/>
    <select id="selectAll" resultType="log">
        select id,accIn,account as accOut,money from log;
    </select>

</mapper>