<component name="libraryTable">
  <library name="spring-data-jpa-2.2.4.RELEASE7">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../11-spring-data-jpa-asscociation-oneToMany/lib/spring-data-jpa/2.2.4.RELEASE/spring-data-jpa-2.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>