<component name="libraryTable">
  <library name="spring-data-jpa-2.2.4.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../04-spring-data-jpa-repository/lib/spring-data-jpa/2.2.4.RELEASE/spring-data-jpa-2.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-data-jpa-2.2.4.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>